* {
	font-size : 12pt; color : black;
}
body{
	text-align : center;
}
table {
	width : 100%;
	border: 1px solid black;
	border-collapse: collapse;
	text-align : center;
	margin : auto;
}
td{
	border-bottom : 1px solid black;
	padding : 10px;
}
.listsubject_menu{
	width : 400px;
}
.container{
	margin : 0 auto;
	text-align : left;
	width : 100%;
}
h1{
	text-align : center;
}
.input-group{
	width : 100%;
	border-collapse: collapse;
}
.commentList{
	float:left;
	width : 100%;
}
.form-control{
	float:left;
	width : 93%;
	height : 70px;
}
.input-insert{
	float:left;
	width : 7%;
}
td.listsubject{
	width : 400px;
	text-align : left;
}
.hd{
	border : 1px solid black;
	background: #eee;	
}
td.writeId{
	text-align : left;
}
input[type=text],input[type=password]{
	float:left;
}
textarea{
	float:left;
	width : 500px;
	height : 400px;
}
pre{
	text-align : left;
	white-space: pre-wrap;
	width : 500px;
}
button.btn-default, input[type=button], input[type=submit], input[type=reset]{
	cursor : pointer;
	text-decoration : none;
	text-align : center;
	border: 2px solid #e7e7e7;
	padding : 5px 10px;
	transition-duration : 0.4s;
	background-color : white;
	color : black;
	display : inlin-block;	
}
button.btn-default:hover, input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover{
	background-color: #e7e7e7;
}
.listbt{
	float:right;
}
b{
	text-align : center:
}